@model EXresturant.Models.CategorieAndMenukaartViewModel
@{
    ViewData["Title"] = "Edit";
}

<br />

<h2 class="text-info">Edit Categorie</h2>

<br />

<partial name="_StatusMessage" model="Model.StatusMessage" />


<div class="whiteBackground border row">
    <div class="col-8 border-right">
        <form asp-action="Edit" method="post">
            <input type="hidden" asp-for="Categorie.Id" />
            <input type="hidden" asp-for="Categorie.MenukaartId" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="Categorie.MenukaartId" class="col-form-label"></label>
                </div>
                <div class="col-5">
                    @*<input asp-for="SubCategory.Name" class="form-control" />*@
                    <select class="form-control" disabled id="ddlCategories" asp-for="Categorie.MenukaartId" asp-items="@(new SelectList(Model.MenukaartsList,"Id","Naam"))"></select>
                    <span class="text-danger" asp-validation-for="Categorie.Menukaart.Naam"></span>
                </div>
            </div>



            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="Categorie.Naam" class="col-form-label"></label>
                </div>
                <div class="col-5">
                    <input asp-for="Categorie.Naam" class="form-control" />
                    <span class="text-danger" asp-validation-for="Categorie.Naam"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-5 offset-3">
                    <partial name="UpdateAndBackToListButtonPartial" />
                </div>
            </div>

        </form>
    </div>
    <div class="col-3 offset-1">

        <p>Existing Sub Categories</p>
        <div id="divSubCategoriesList"></div>

    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />



    <script>

        function updateSubCategoriesList() {
            var selectedMenukaart = document.getElementById("ddlCategories").value;
            $list = $('#divSubCategoriesList');
            $.ajax({
                url: '/Categories/GetSubCategories/' + selectedMenukaart,
                type: 'GET',
                dataType: 'text',
                success: function (data) {
                    results = JSON.parse(data);
                    $list.html('');
                    $list.append('<ul class="list-group">');
                    for (i in results) {
                        $list.append('<li class="list-group-item">' + results[i].text + '</li>')
                    }
                    $list.append('</ul>');
                }
            }

            );
        }
        $(document).ready(function () {

            updateSubCategoriesList();
        });

        $("#ddlCategories").on("change", function () {
            updateSubCategoriesList();
        });

    </script>


}